.btn {
  background-color: rgb(70, 195, 240);
  color: grey;
  width: auto;
  height: 30px;
  border-radius: 5px;
  border: none;
  font-family: 'Architects Daughter', cursive;
}

label {
  font-size: x-large;
}

.hidden {
  display: none;
}

body {
  background-color: rgb(111, 10, 71);
  text-align: center;
  color: rgb(218, 167, 167);
}

.main {
  font-family: 'Architects Daughter', cursive;
}

h1 {
  padding-top: 2em;
  font-family: 'Indie Flower';
  font-size: 2em;
}